@mixin respondTo($_media) {
    @if $_media == phones {
      @media all and (max-width: 479px) { @content; }
    }
    @else if $_media == wide-phones {
      @media all and (min-width: 480px) and (max-width: 767px) { @content; }
    }
    @else if $_media == tablets {
      @media all and (min-width: 768px) and (max-width: 991px) { @content; }
    }
    @else if $_media == small-desktops {
      @media all and (min-width: 992px) and (max-width: 1199px) { @content; }
    }
    @else if $_media == lg-desktops {
      @media all and (min-width: 1200px) and (max-width: 1440px) { @content; }
    }
    @else if $_media == xlg-desktops {
      @media all and (min-width: 1441px) and (max-width: 1920px) { @content; }
    }
  }
$header__font: "Lato - Black",Arial, Helvetica, sans-serif;
%width__margin{
  width: 1200px;
  margin: 0 auto;
  }
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  background: url(../img/layer-3.png) no-repeat;
  background-color: rgb(0, 0, 0);
  background-size: 100%;
  height: 740px;
  @include respondTo(tablets) {
    height: 100%;
  }
  @include respondTo(wide-phones) {
    height: 100%;
  }
  @include respondTo(phones) {
    height: 100%;
  }
  .header__inside {
    @extend %width__margin;
    padding-top: 40px;
    .header__social {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .logo {
      color: #daa505;
      font-family: $header__font;
      font-size: 40px;
      font-weight: 700;
      color: #ffffff;
      @include respondTo(wide-phones) {
        padding-left: 30px;
      }
      @include respondTo(phones) {
        padding-left: 30px;
      }
      span {
        color: #daa505;
      }
      p {
        font-family: $header__font;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.54px;
        margin: 0;
      }
    }
    nav {
      justify-self: end;
      padding-top: 10px;
      @include respondTo(small-desktops) {
        justify-self: start;
      }
      @include respondTo(tablets) {
        grid-row: 2 / 3;
        margin-top: 20px;
      }
      @include respondTo(wide-phones) {
        grid-row: 2 / 3;
        margin-top: 20px;
        justify-self: start;
        line-height: 40px;
        padding-left: 30px;
      }
      @include respondTo(phones) {
        grid-row: 2 / 3;
        margin-top: 20px;
        justify-self: start;
        line-height: 40px;
        padding-left: 30px;
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        @include respondTo(wide-phones) {
          flex-direction: column;
        }
        @include respondTo(phones) {
          flex-direction: column;
        }
        li {
          &:not(:last-child) {
            margin-right: 30px;
          }
          a {
            font-family: $header__font;
            font-size: 17px;
            font-weight: 400;
            color: #ffffff;
            &:hover {
              color: #000000;
              background: #ffc61a;
              border-radius: 50px;
              font-weight: 700;
              transform: scale(4, 2);
              transition-duration: 1s;
            }
          }
        }
      }
    }
    .header__headings {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include respondTo(tablets) {
        align-items: flex-start;
      }
      @include respondTo(wide-phones) {
        align-items: flex-start;
        padding-left: 30px;
      }
      @include respondTo(phones) {
        display: none;
      }
      h1 {
        color: #ffc61a;
        font-family: $header__font;
        font-size: 36px;
        font-weight: 700;
        margin: 0;
        animation-delay: 0.5s;
        margin: 40px 0 0 0;
      }
      h2 {
        color: #ffffff;
        font-family: $header__font;
        font-size: 72px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 10px;
        animation-delay: 0.3s;
      }
      h3 {
        color: #ffffff;
        font-family: $header__font;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin: 0;
        animation-delay: 0.7s;
      }
    }
    img {
      position: relative;
      top: 75px;
      left: 15%;
      @include respondTo(tablets) {
        display: none;
      }
      @include respondTo(wide-phones) {
        display: none;
      }
      @include respondTo(phones) {
        display: none;
      }
    }
  }
}
.book__a__cab {
  height: 745px;
  background: #ffc61a;
  background-size: 100%;
  .inside_book__a__cab {
    @extend %width__margin;
    padding: 150px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    @include respondTo(small-desktops) {
      grid-template-columns: 1fr;
    }
    .left__part {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .h3__heading {
        color: #000000;
        font-family: $header__font;
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 0 0;
      }
      .h2__heading {
        color: #101010;
        font-family: $header__font;
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 26px 0 40px 0;
      }
      .paragraph__heading {
        color: #101010;
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 59px 0;
      }
      .read__more__heading {
        color: #ffffff;
        font-family: "Bebas Neue Bold", Arial, Helvetica, sans-serif;
        font-size: 26px;
        font-weight: 400;
        padding: 10px 27px 9px 27px;
        background: #000000;
        border-radius: 10px;
      }
    }
    
    form {
      width: 425px;
      height: 480px;
      background-color: #ffffff;
      box-shadow: 0 0 43px rgba(0, 0, 0, 0.07);
      justify-self: end;
      h3 {
        color: #ffffff;
        font-family: $header__font;
        font-size: 34px;
        font-weight: 700;
        margin: 0;
        padding: 28px 0  27px 38px;
        background: #171717;
        span {
          color: #ffc61a;
        }
      }
      .inside__form {
        display: flex;
        flex-wrap: wrap;
        input {
          border: none;
          border-bottom: 3px solid #e4e4e4;
          width: 170px;
          margin: 0 0 0 30px;
          padding: 35px 0 15px 0;
          outline: none;
        }
        .t1 {
          width: 370px;
        }
      }
      button {
        color: #ffffff;
        font-family: "Bebas Neue Bold",Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 10px;
        border:none;
        cursor: pointer;
        background: #171717;
        width: 90%;
        margin: 40px 0 0 20px;
        padding: 10px 0 10px 0;
      }
    }
  }
}
::-webkit-input-placeholder { color: #000000; font-family: "Lato - Semibold",Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 400;}
.our__tariffs {
  .inside__our__tariffs {
    padding: 60px 0 70px 0;
    @extend %width__margin;
    h2 {
      color: #000000;
      font-family: $header__font;
      font-size: 44px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 120px 0;
      text-align: center;
      span {
        color: #ffc61a;
        font-family: "Lato - Black", Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    .our__class {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 35px;
      .our__class__section {
        padding: 120px 38px 25px 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .car {
          position: absolute;
          top: -85px;
          left: 5px;
        }
        .our__class__heading {
          color: #000000;
          font-family: $header__font;
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 0 0 0 0;
        }
        .our__class__paragraph {
          color: #101010;
          font-family: $header__font;
          font-size: 18px;
          font-weight: 400;
          margin: 31px 0 35px 0;
          text-align: center;
        }
        .our__class__price {
          color: #ffc61a;
          font-family: $header__font;
          font-size: 44px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 0 0 34px 0;
        }
        .our__class__button {
          color: #000000;
          font-family: "Bebas Neue Bold", Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 10px 25px 8px 25px;
          background: #ffc61a;
          border-radius: 10px;
        }
      }
      .our__class__section1, .our__class__section3 {
        background: #f5f4f2;
      }
      .our__class__section2 {
        background: #ffc61a;
        position: relative;
        .our__class__price {
          color: #000000;
        }
        .our__class__button {
          background: #000000;
          color: #ffffff;
        }
        .star {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}
.we__do__best {
  width: 100%;
  background: url(../img/place-bg-image.png);
  background-color: rgb(0, 0, 0);
  background-size: 100%;
  .inside__we__do__best {
    @extend %width__margin;
    padding: 80px 0;
    h3 {
      color: #ffc61a;
      font-family: $header__font;
      font-size: 35px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 0 0;
      text-align: center;
    }
    h2 {
      color: #ffffff;
      font-family: $header__font;
      font-size: 44px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 80px 0;
      text-align: center;
    }
    .how__we__do__block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      section {
        padding: 0 0 0 120px;
        h4 {
          color: #ffc61a;
          font-family: $header__font;
          font-size: 25px;
          font-weight: 400;
          text-transform: uppercase;
          margin: 0 0 5px 0;
          line-height: 42px;
        }
        p {
          color: #ffffff;
          font-family: Lato, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 400;
          margin: 0 0 0 0;
          line-height: 30px;
        }
      }
      section:first-child {
        background: url(../img/back-star.png) no-repeat left center;
      }
      section:nth-child(2) {
        background: url(../img/back-time.png) no-repeat left center;
        justify-self: end;
      }
      section:nth-child(3) {
        background: url(../img/back-castelo.png) no-repeat left center;
      }
      section:last-child {
        background: url(../img/back-setting.png) no-repeat left center;
        justify-self: end;
      }
      section:nth-child(n + 3) {
        margin-top: 65px;
      }
    }
    .button {
      text-align: center;
      margin: 70px 0 0 0;
      a {
        color: #010101;
        font-family: "Bebas Neue Bold", Arial, Helvetica, sans-serif;
        font-size: 27px;
        font-weight: 400;
        text-transform: uppercase;
        background: #ffc61a;
        padding: 7px 25px;
        border-radius: 10px;
      }
    }
  }
}
.download {
  .inside__download {
    @extend %width__margin;
    padding: 60px 100px 150px 100px;
    background: url(../img/hand-back.png) no-repeat 860px 185px;
    h3 {
      color: #ffc61a;
      font-family: $header__font;
      font-size: 35px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 0 0;
      text-align: center;
    }
    h2 {
      color: #000000;
      font-family: $header__font;
      font-size: 44px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 80px 0;
      text-align: center;
    }
    .download__section {
      h4 {
        margin: 0 0 20px 0;
        color: #000000;
        font-family: $header__font;
        font-size: 25px;
        font-weight: 700;
      }
      p {
        margin: 0 0 65px 0;
        color: #101010;
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .social__links {
      animation-duration: 3s;
      a:first-child {
        margin-right: 13px;
      }
    }
  }
}
.happy__clients {
  background: url(../img/happy-background.png);
  background-color: #000000;
  .inside__happy__clients {
    @extend %width__margin;
    padding: 110px 0 85px 0;
    h3 {
      color: #ffc61a;
      font-family: $header__font;
      font-size: 35px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 5px 0;
      text-align: center;
    }
    h2 {
      color: #ffffff;
      font-family: $header__font;
      font-size: 44px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 103px 0;
      text-align: center;
    }
    .happy__clients__reviews {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      .happy__clients__reviews__block {
        background: #040707;
        border-radius: 50px;
        padding: 44px 70px 30px 46px;
        .reviews__description {
          color: #ffffff;
          font-family: Lato, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 400;
          margin: 0 0 25px 0;
        }
        .autor__description {
          background: url(../img/happy-img.png) no-repeat left center;
          padding: 0 0 0 100px;
          color: #ffffff;
          font-family: $header__font;
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 0 0 0 0;
          line-height: 36px;
          span {
            color: #ffc61a;
            font-family: $header__font;
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
.call__number {
  background: #ffc61a;
  .inside__call__number {
    padding: 75px 0 70px 0;
    @extend %width__margin;
    h2 {
      margin: 0 0 20px 0;
      color: #000000;
      font-family: $header__font;
      font-size: 35px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      margin: 0 0 0 0;
      color: #000000;
      font-family:  $header__font;
      font-size: 77px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
footer {
  background: url(../img/background-footer.png);
  .inside__footer {
    padding: 80px 0 0 0;
    @extend %width__margin;
    animation-duration: 3s;
    .footer__grid__block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 80px;
      section {
        h3 {
          margin: 0 0 45px 0;
          padding: 0 0 35px 0;
          color: #ffffff;
          font-family: $header__font;
          font-size: 25px;
          font-weight: 700;
          text-transform: uppercase;
          border-bottom: 8px solid #ffc61a;
        }
        p {
          color: #ffffff;
          font-family: Lato, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 400;
          margin: 0 0 35px 0;
          line-height: 30px;
        }
        ul {
          margin: 0 0 0 0;
          padding: 0 0 0 0;
          li {
            color: #ffffff;
            font-family: Lato,Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 400;
          }
        }
        .footer__social_list {
          display: flex;
        }
        .android__ios__style {
          a {
            color: #ffc61a;
            font-family: Lato,Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 400;
          }
        }
        .android__ios__style {
          background: url(../img/android-apple.png) no-repeat 170px 0px;
        }
        .android__ios__style.apple {
          background: url(../img/android-apple.png) no-repeat 170px -46px;
        }
        .footer__contacts__list {
          line-height: 30px;
          li {
            background: url(../img/foot-contact-list.png) no-repeat 0px 6px;
            padding: 0 0 10px 45px;
          }
          li.telephone {
            background: url(../img/foot-contact-list.png) no-repeat 0px -60px;
          }
          li.mail {
            background: url(../img/foot-contact-list.png) no-repeat 0px -103px;
          }
          li.sait {
            background: url(../img/foot-contact-list.png) no-repeat 0px -143px;
          }
        }
      }
    }
  }
  .copyright {
    background: #010000;
    text-align: center;
    color: #ffffff;
    font-family: Lato,Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    padding: 25px 0 15px 0;
  }
}

.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}