.b-about-us-right {
    padding: 60px 0 0 0px;

    &__block {
        display: flex;
        justify-content: flex-start;

        &_margin {
            margin-top: 60px;

            @media (min-width: 992px) and (max-width: 1199.98px) {
                margin-top: 75px;
            }

            @media (min-width: 768px) and (max-width: 991.98px) {
                margin-top: 80px;
            }
        }
    }

    &__image {
        height: 86px;
        width: 86px;
        position: relative;
        right: 75px;
    }

    &__description {
        text-align: justify;

        &_margin-left {
            margin-left: -50px;
        }
    }
    
}