@font-face {
    font-family: "Bebas Neue Bold";
    src: url(../../fonts/bebusneuebold/BebasNeue\ Bold.ttf);
}
@font-face {
    font-family: "Open Sans";
    src: url(../../fonts/Open_Sans/OpenSans-Regular.ttf);
}