.b-footer-section {
    
    &__heading {
        color: #666666;
        font-weight: 400;
        line-height: 15.6px;
        text-transform: uppercase;
        
        &_margin {
            margin-bottom: 30px;
        }
    }
    
    &__description {
        color: #999999;
        font-weight: 400;
        line-height: 19.2px;
    }
    
    &__span {
        color: #999999;
        font-weight: bold;
        line-height: 15.6px;
    }
    
    &__link {
        display: block;
        color: #81b300;
        font-weight: 400;
        line-height: 14.4px;
        text-align: end;
        
        &_margin {
            margin-top: 10px;
        }
    }
}