.b-our-projects {
    padding: 50px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    
    &__heading {
        color: #444444;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 400;
        
        &_margin {
            margin: 20px 0 15px 0;
        }
    }
    
    &__description {
        line-height: 20.8px;
        text-align: start;
    }
    
    &__link {
        display: block;
        color: #81b300;
        font-weight: 400;
        line-height: 13px;
        text-align: end;
        
        &_margin {
            margin-top: 15px;
        }
    }
}