.portofolio-grid {
    margin: 0 auto;
    width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1620px) {
        width: 780px;
        grid-template-columns: 265px;
    }

    @media (max-width: 860px) {
        display: none; 
    }

    .left-part {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 265px 265px 265px;
        grid-template-areas: 
            "pr1 pr1"
            "pr2 pr3"
            "pr2 pr3";
    }

    .right-part {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 265px 265px 265px;
        grid-template-areas: 
            "pr4 pr4"
            "pr5 pr7"
            "pr6 pr7";
    }
    
    .portofolio-1 {
        grid-area: pr1;
    }

    .portofolio-2 {
        grid-area: pr2;
    }

    .portofolio-3 {
        grid-area: pr3;
    }

    .portofolio-4 {
        grid-area: pr4;
    }

    .portofolio-5 {
        grid-area: pr5;
    }

    .portofolio-6 {
        grid-area: pr6;
    }

    .portofolio-7 {
        grid-area: pr7;
    }
}
