/* line 1, ../sass/style.scss */
body {
  box-sizing: border-box;
  color: #807d77;
  font-family: Georgia, serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.4px;
}

/* line 9, ../sass/style.scss */
ul, ol, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/style.scss */
ul {
  list-style: none;
}

/* line 20, ../sass/style.scss */
header .top-line-navigation {
  display: flex;
  justify-content: flex-end;
  background: #55415f;
  padding: 6px 20px;
}
/* line 29, ../sass/style.scss */
header .top-line-navigation .top-line-list li {
  display: inline-block;
}
/* line 32, ../sass/style.scss */
header .top-line-navigation .top-line-list li a {
  color: #ffffff;
  font-family: Georgia;
  font-size: 13px;
  font-weight: 400;
  line-height: 13.2px;
}
/* line 43, ../sass/style.scss */
header .header-logo-nav {
  padding: 38px 20px;
}
/* line 48, ../sass/style.scss */
header .header-logo-nav .header-logo__name {
  color: #000000;
  font-family: Georgia;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 58, ../sass/style.scss */
header .header-logo-nav .header-logo__span {
  font-size: 36px;
  line-height: 36px;
  line-height: 26px;
}
/* line 64, ../sass/style.scss */
header .header-logo-nav .header-logo__descr {
  color: #999999;
  font-family: Georgia;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
}
/* line 73, ../sass/style.scss */
header .header-logo-nav .header-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* line 78, ../sass/style.scss */
header .header-logo-nav .header-navigation__list {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}
/* line 83, ../sass/style.scss */
header .header-logo-nav .header-navigation__list li {
  display: inline-block;
}
/* line 86, ../sass/style.scss */
header .header-logo-nav .header-navigation__list li a {
  color: #333333;
  font-family: Georgia, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}
/* line 95, ../sass/style.scss */
header .header-logo-nav .header-navigation__list li a:hover {
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  transition: .9s;
}
/* line 103, ../sass/style.scss */
header .header-logo-nav .header-navigation__list li:not(:last-child) {
  margin-right: 20px;
}

/* line 113, ../sass/style.scss */
.comp .container {
  background: #ebebeb;
  padding: 26px 20px;
}
/* line 117, ../sass/style.scss */
.comp .container .comp-catchy-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 60px;
}
/* line 126, ../sass/style.scss */
.comp .container .comp-catchy-title__heading {
  color: #333333;
  font-family: Georgia;
  font-size: 38px;
  font-weight: 400;
  line-height: 43.2px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
/* line 137, ../sass/style.scss */
.comp .container .comp-catchy-title__paragraph {
  color: #999999;
  font-family: Georgia;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.4px;
  margin-bottom: 25px;
}
/* line 146, ../sass/style.scss */
.comp .container .comp-catchy-title__button {
  color: #ffffff;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  padding: 12px 10px 8px 15px;
  background: #55415f;
  border-radius: 5px;
}
